<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<body>
    <img src="/asserts/images/me.png" alt: picture of myself> &nbsp; &nbsp;
    <div id="abme">
        <p>
            Hello! My name is Alecsandra Marie Reyes. I am originally from the Philippines. I moved to Guelph Ontario when I was 17 years old. I am a 5 foot Software Engineering Technician student (Small but mighty ;>) and I am passionate about design and programming. I have no experience with programming in the past, but I am eager to learn new things. I took an engineering course in the Philippines, but I figured that programming is where my heart is. I have two adorable golden doodles! I love outdoor activities like hiking, camping, biking, and swimming. 
        </p>
        <p> You can <a href="alecsresume.pdf">click here</a> to view my resume</p>
    </div>
    </body>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
