<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<body>
    <div id="home1">
    <h3> Welcome to my personal homepage! </h3>
    </div>

    <div id="mission">
    <p>
        <h4> Mission </h4>
        <p> To share positivity through creativity </p>
    </p>
    <br>
    <p> Let's get to know each other! You can <a href="AboutMe.html">click here</a> to know more about me.</p>
    </div>
</body>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>