<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<body>
    <h4> Projects </h4>
    <div id="project1">
        <p> 
            Bug Smasher Activity
        </p>
        <img src="/asserts/images/project1.png" alt: first project>
    </div>

    <div id="project1">
        <p> 
            Real Estate Project
        </p>
        <img src="/asserts/images/project2.png" alt: second project>
    </div>
</body>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>